.dndhelp { display:none; } /* changed at runtime if js is available */
img.tipper { margin-left:10px; display:none; } /* ditto */
.leftward {margin-left:0 !important }
fieldset.settings { padding:0 5px; max-width:50em; }
fieldset.settings legend { padding:0 5px; }

table.leftside {
 margin-left:0;
 padding:3px;
 border-spacing:0;
 border-collapse:collapse;
 width:auto;
}

table.table_sort thead tr th
{
 margin:0 20px;
 padding:5px 5px 5px 10px;
 color:#000;
 background:#E5B400; /*gold*/
 text-align:left;
 cursor:default;
}
table.table_sort thead tr th.ord, table.table_sort thead tr th.\{sss\:false\}
{
 margin-left:0;
 padding-left:2px;
}
table.table_sort thead tr th.checkbox
{
 margin-left:20px;
 padding-left:10px;
}

table.table_sort thead tr .SortAble
{
 background-image:url(../images/bgdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort thead tr .SortUp
{
 background-image:url(../images/ascdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort thead tr .SortDown
{
 background-image:url(../images/descdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort tbody td.row1s {
 background-color:#E9E9E9;
}

table.table_sort tbody td.row2s {
 background:#D9D9D9;
}

th
{
 background:#AAA;
 height:2.5em;
 text-align:center;
 cursor:default;
}

th.divider, td.divider { padding-left:5px; border-left:3px dotted #E5B400; }

textarea.tallarea {
 font-family:auto;
 font-family:inherit;
 font-size:1.1em;
/* font-size:inherit; */
 line-height:1.2;
 width:50em;
 height:8em;
}
textarea.shortarea {
 font-family:auto;
 font-family:inherit;
 font-size:1.1em;
/* font-size:inherit; */
 line-height:1.2;
 width:50em;
 height:3em;
}

textarea.cloaked
{
 font-family:auto;
 font-family:inherit;
 font-size:1.2em;
/* font-size:inherit; */
 line-height:1.1;
 width:40em;
 height:2.4em;
}

/* for making inputs look like links */
input.fakeicon {
 margin:0;
 padding:0;
 border:medium;
 vertical-align:middle;
}
/* color and size will be conformed at runtime, if js is enabled */
input.fakelink {
 margin:0;
 padding:0;
 text-align:left;
 text-decoration:underline;
 font-size:1em;
 color:#000;
 background:url("");
}

input.fakelink:hover {
 text-decoration:none;
 background:url("");
}

/* popup modal dialog */
/* Overlay */
#alertable\-overlay {
 position:fixed;
 z-index:9998;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background:rgba(153, 153, 153, .5);
}

/* Form */
#alertable {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f2f2f2;
 border:solid 3px #173617;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

#alertable\-error {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f9ebeb;
 border:solid 3px #990000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

/* Message */
#alertable\-message {
 margin-bottom:20px;
 font-weight:bold;
 /* font-size:inherit; */
}

/* Prompt */
#alertable\-prompt {
 margin-bottom:20px;
}

#alertable\-input {
 width:95%;
 box-shadow:none;
 border:solid 1px #003300;
 font-family:inherit;
/* font-size:inherit; */
 color:inherit;
 padding:6px 12px;
 display:block;
 box-sizing:border-box;
 margin-bottom:10px;
}

/* Button group */
#alertable\-buttons {
 text-align:center;
}

/* OK button */
#alertable\-ok {
 background-color:#ecbb00;
 border:solid 1px #ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-ok:hover,
#alertable\-ok:focus,
#alertable\-ok:active {
 color:#fff;
 background-color:#00b200;
}

/* Cancel button */
#alertable\-cancel {
 border:solid 1px #ecbb00;
 background-color:#ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-cancel:hover,
#alertable\-cancel:focus,
#alertable\-cancel:active {
 color:#fff;
 background-color:#f00;
}
