@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

/*
classes:
is-bound
is-empty
is-hidden
pika-button
pika-calendar
pika-day
pika-label
pika-next
pika-prev
pika-select
pika-select-month
pika-select-year
pika-single
pika-table
pika-title
pika-week
layout:
<div class="pika-single is-bound" style="">
 <div class="pika-lendar">
  <div class="pika-title">
   <div class="pika-label">
    <span class="pika-sublabel">Month</span><select class="pika-select pika-select-month">
   </div>
   <div class="pika-label">
     <span class="pika-sublabel">Year</span><select class="pika-select pika-select-year">
   </div>
   <button class="pika-prev" type="button">Previous Month</button>
   <button class="pika-next" type="button">Next Month</button>
  </div> <-- pika-title
  <table class="pika-table">
   <thead>
    <tr>
   </thead>
   <tbody>
    <tr>
    <tr>
    <tr>
    <tr>
    <tr>
   </tbody>
  </table>
 </div> <--pika-lendar
</div> <--pika-single is-bound
*/

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 20em;
    margin: 8px;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 0 5px 10px 5px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #fff;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-title select {
    cursor: pointer;
    z-index: 9998;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
/*    height: 20px; */
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
		background-position: left center;
		*left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
		background-position: left center;
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

table.table_sort table.pika-table, .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

table.table_sort table.pika-table th, .pika-table th,
table.table_sort table.pika-table td, .pika-table td {
    width: 14.28%;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

table.table_sort table.pika-table th, .pika-table th {
    color: #999;
    background-color:#dcdcdc;
/*    line-height: 2em; */
    height: 2em;
    font-weight: bold;
    text-align: center;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px 7px;
    color: #666;
    line-height: 1.5em;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 0.9em;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}
